/* Global */
/* cross browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Hind", sans-serif;
}

/* HEADER */
header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

/*? chưa hover */
#navbarPort .nav-item .nav-link {
  color: white;
  transition: all 0.5s;
}

/*? sau hover */
#navbarPort .nav-item:hover .nav-link {
  color: #35a22c;
}

/* Tạo đường gạch */
#navbarPort .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #35a22c;
  /* (không bị đụng code với BS) */
  display: block;
  /* display: inline-block; ko chiếm 1 hàng width 100% (inline), 
    nhưng xét được kích thước (block)*/
  transition: all 0.5s;
}

#navbarPort .nav-item:hover .nav-link::after {
  width: 100%;
}

/* Carousel */
.carouselPort .carousel-item {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.carouselPort .carousel-item:nth-child(1) {
  background-image: url("./../img/mountains.jpg");
}

.carouselPort .carousel-item:nth-child(2) {
  background-image: url("./../img/mountains-1.jpg");
}

.carouselPort .carousel-item:nth-child(3) {
  background-image: url("./../img/finland.jpg");
}

.carouselPort .img_thumb {
  width: 150px;
  margin: 0 auto;
}

.carouselPort .img_thumb img {
  border-radius: 50%;
}

.carouselPort .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: green;
}

@media screen and (max-width: 575px) {
  .project__content .card-body .card-title {
    font-size: 1rem;
  }
}

.project__content .nav-pills .nav-link {
  border: 1px solid black;
  color: black;
  margin: 0 10px;
}

.project__content .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: green;
  color: white;
  border-color: green;
}

.project__content .card {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border: none;
  box-shadow: 0 0 0.4rem #80808066;
  cursor: pointer;
}

.project__content .card .card-body {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}

.project__content .card .card-body h4 {
  font-size: 1.2rem;
}

.project__content .card:hover .card-body {
  border-color: green;
  border-top-color: transparent;
}

@media screen and (max-width: 767px) {
  .project__content .nav-pills .nav-link {
    margin: 0 5px;
  }
}
